# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\hardeschijf\Laptopschool2020\SarahWebsitePHP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
